{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-lg-8 offset-lg-2">
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-2">
            {{ form.greeting | as_crispy_field }}
        </div>
        <div class="col-md-5">
            {{ form.first_name | as_crispy_field }}
        </div>
        <div class="col-md-5">
            {{ form.last_name | as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            {{ form.street | as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{ form.street_nr | as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form.plz | as_crispy_field }}
        </div>
        <div class="col-md-9">
            {{ form.place | as_crispy_field }}
        </div>
    </div>
    <div class="py-2">
        <button type="submit" class="btn btn-success btn-block">Speichern</button>
        <a href="{% url "patients_list" %}" class="btn btn-secondary btn-block">Zurück</a>
    </div>
</form>
</div>

{% endblock %}